{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to Family Store were you can buys different items...!
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }} - FAMILY STORE
    {% else %}
        See our New Collections-FAMILY STORE...!
    {% endif %}
{% endblock %}

{% block content %}
    {% if category %}

    <div>
        <div class="row my_row_class">
            <div class="mx-auto">
                <p><a href="{% url 'shop:allProdCat' %}">Our Product Collections</a></p>
            </div>
        </div>
    </div>
    {% endif %}
<div class="mx_auto">
    {% if category %}
    <img class=my_image" src="{{category.image.url}}"  alt="{{category.name}}">
</div>
<br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
{% else %}
<div>
    <img class="my_image my_image_padding" src="{%static 'img/banner.png' %}" alt="out products" WIDTH="1300PX" HEIGHT="450PX">
</div>
<br>
<div>
    <h1 class="text-center my_title">Our product Collections</h1>
    <p class="text=justify">An About Us page helps your company make a good first impression,
        and is critical for building customer trust and loyalty.
        An About Us page should make sure to cover basic information about the
        store and its founders, explain the company's purpose and how it differs
        from the competition, and encourage discussion and interaction</p>
</div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
            <div class="card text-center" style="min-width:18rem;">
            <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" style="width:200px; height:200px;" alt="((product.name}"></a>
                 <div class="card-body">
                    <h4>{{product.name}}</h4>
                     <p>{{product.price}}</p>
                 </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}