{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

        {{ product.description|truncatewords:155 }}



{% endblock %}
{% block title %}
{% if category %}
        {{ product.name }} - FAMILY STORE
    {% endif %}
{% endblock %}

{% block content %}
<div class="row my_prod_row_class">
    <div class="mx_auto">
        <p><a href="{% url 'shop:allProdCat' %}">HOME</a> | <a href ="{{product.category.get_url}}">{{product.category}}</a>{{product.name}}</p>
    </div>
    <div class="container">
    <br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <div style="min-width:18rem;">
                    <img src="{{product.image.url}}" alt="{{product.name}}">
                </div>
            </div>
            
         </div>
    </div>
</div>
{% endblock %}
